<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form method="post" action="/add-product-process">
        <table> 
            <tr>
                <td>Type: </td>
                <td><input type="text" name="txt1" placeholder="Enter Product Type" required></td>
            </tr>
            <tr>
                <td>Name/Code: </td>
                <td><input type="text" name="txt2" placeholder="Enter Product Name/Code" required></td>
            </tr>
            <tr>
                <td>Size: </td>
                <td><input type="text" name="txt3" placeholder="Enter Size" required></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>